body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url(https://data.whicdn.com/images/309996536/original.png);
}

#map {
    width: 70%;
    height: 80%; 
    left: 380px;
    top: 70px;
    border: 3px solid #39bbf7;
    border-radius: 50px;
}

/* .title {
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 88px;
    z-index: 100;
    font-weight: bold;
    text-transform: uppercase;
    color: #333; 
} */

.search-container {
    width: 350px;
    height: 60px;
    background-color: #f7f7f7;
    position: absolute;
    z-index: 100;
    top: 100px;
    left: 10px;
    border-radius: 30px;
}

.search-container .search {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search-container input {
    width: 100%;
    font-size: 25px;
    border: none;
    background-color: transparent;
    color: #514C4C;
} 

.search-container input:focus {
    outline: none;
}

.search i {
font-size: 25px;
color: black;
}

.stores-list-container {
width: 350px;
position: absolute;
z-index: 100;
background-color: #f7f7f7;
left: 10px;
top: 170px;
border-radius: 30px;
bottom: 20px;
}

.stores-list {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    height: 100%;
}

.store-container {
    display: flex;
    border-bottom: 1px solid #979797;
}

.store-info-container {
    flex-grow: 1;
}

.store-address {
    font-size: 21px;
    color: #514C4C;
    margin-top: 30px;
}

.store-phone-number {
    color: #B5ADAD;
    margin-top: 15px;
    margin-bottom: 15px;
}

.store-number-container {
    align-items: center;
    display: flex;
}

.store-number {
    width: 30px;
    height: 30px;
    background-color: #39bbf7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.store-address span {
    display: block;
}

.store-info-window {
    width: 250px;
    height: 130px;
    font-size: 12px;
    padding: 8px;
}

.store-info-name {
    font-size: 15px;
    font-weight: bold;
    color: rgba(0,0,0, 0.87);
}

.store-info-status {
    margin-top: 6px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 6px;
}

.store-info-address, .store-info-phone {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.store-info-address .circle, .store-info-phone .circle {
    width: 20px;
    height: 20px;
    background-color: #39bbf7;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.store-container-background {
    width: 100%;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 18px;
    transition: background 0.2s ease-in-out;
}

.store-container-background:hover {
    background-color: #ccc;
}

